main {
  margin: 0 auto;
  width: 1280px;
  height: 500px;
  padding-top: 70px;
}
.main__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main__top h1 {
  font-size: 30px;
  font-weight: bold;
}
.main__top a {
  transition: 0.3s;
}
.main__top a:nth-child(1) {
  margin-right: 15px;
}

.main__top a:hover {
  color: rgb(3, 118, 251);
}

.main__center {
  width: 100%;
  height: 342px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.main__center__L {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 64%;
  height: 100%;
}
.main__center__R {
  width: 465px;
  height: 100%;
  background-color: white;
}
.main__center__item {
  width: 153px;
  height: 92%;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
.main__center__item img {
  width: 153px;
  transition: 0.5s;
}

.main__center__item__info {
  width: 100%;
  height: 147px;
  padding: 15px 10px;
  position: relative;
  margin-top: 195px;
}
.main__center__item__info div {
  width: 26px;
  padding: 3px 5px;
  font-size: 13px;
  background-color: #00dbd3;
  border-radius: 10px;
  color: white;
}
.main__center__item__info h1 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 7px;
}
.main__center__item__info__specialSpan {
  padding: 3px;
  background-color: rgb(254, 243, 224);
  color: #f88029;
  display: block;
  font-size: 13px;
  position: absolute;
  bottom: 42px;
}
.main__center__item__info__span {
  color: gray;
  display: block;
  font-size: 13px;
  position: absolute;
  bottom: 45px;
}
.main__center__item__img__container {
  position: absolute;
  width: 100%;
  height: 192px;
  overflow: hidden;
  background-color: #f88029;
  top: 0;
}

.orange div {
  background-color: orange;
}

.main__center__item:hover {
  box-shadow: 0 0 10px rgb(187, 187, 187);
}

.main__center__item:nth-child(1):hover img,
.main__center__item:nth-child(2):hover img,
.main__center__item:nth-child(3):hover img,
.main__center__item:nth-child(4):hover img {
  transform: scale(1.1);
}

.main__center__R {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__center__R__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
}
.main__center__R__2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 7px;
}
.main__center__R__2 div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 60px;
  color: white;
  background-color: #4a4e57;
  font-size: 18px;
  font-weight: bold;
}
.main__center__R__2 div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 169px;
  height: 60px;
  color: white;
  font-size: 18px;
  background-color: #4a4e57;
  font-weight: bold;
}

.main__center__R__3 {
  width: 340px;
  height: 40px;
  margin-top: 15px;
  background-color: rgb(248, 249, 251);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main__center__R__3 span {
  color: gray;
  font-size: 14px;
  margin-left: 25px;
  margin-right: 28px;
}
.main__center__R__3 img {
  width: 25px;
  height: 25px;
  margin-right: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.main__center__R__3 img:nth-child(2) {
  width: 32px;
  height: 32px;
}
.main__center__R__3 img:nth-child(3) {
  width: 24px;
  height: 24px;
}
.main__center__R__3 img:nth-child(4) {
  width: 30px;
  height: 30px;
}
.main__center__R__3 img:hover {
  opacity: 0.3;
}

.main__center__R__4 {
  width: 340px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.main__center__R__4 a {
  color: gray;
  transition: 0.3s;
}
.main__center__R__4 a:hover {
  color: rgb(3, 118, 251);
}
.main__center__R__4 a:nth-child(3) {
  margin-left: 90px;
}
